{% extends "base.html" %}

{% block body_content %}

{% load static %}
<div id="wrapper">

	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="index.html" class="logo">
				<span class="symbol"><img src="{% static 'images/logo.svg' %}" alt="" /></span><span class="title">Phantom</span>
			</a>
		</div>
	</header>


	<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Detalle de Compra</h1>
			<p><b>ID : </b> {{data_order.order_id}}</p>
			<p><b>Expira en : </b>{{date_order}}</p>
			<p><b>Comentarios : </b>{{data_order.purchase_description}}</p>
			<p><b>Estado : </b>{{data_order.status}}</p>
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Cantidad</th>
							<th>Nombre</th>
							<th>Precio unitario</th>
							<th>Imagen</th>

						</tr>
					</thead>
					<tbody>
						{% for data in data_list %}
						<tr>
							<td>{{data.quantity}}</td>
							<td>{{data.name}}</td>
							<td>{{data.value}}</td>
							<td>
								<img src="{{data.url}}" alt="{{data.name}}" style="width: 15%;">
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="btn-make-pay">
		<img src="{% static 'images/tpaga_wallet_logo.png' %}" alt="{{data.name}}" style="width: 15%;">
		<h3><a href="{{pay_link}}">Link de pago</a></h3>
	</div>

{% endblock %}