{% extends "base.html" %}

{% block body_content %}

{% load static %}
<div id="wrapper">

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<header>
				<h1>Hola! Bienvenido a Phantom Commerce
					</h1>
			</header>
			<section class="">
				<form action="{% url 'pay_products' %}" method="POST" id="myform">
					{% for product in products_list %}
					<article class="list-products">
						<span class="image">
							<img src="{{product.image.url}}" alt="" />
						</span>
						<span>
							<h2>{{product.name}}</h2>
							<h3>${{product.value}}</h3>
							<div class="content">
								<p>Cantidad: </p>
							</div>

							{% csrf_token %}
							<input type="hidden" name="name_product{{product.id}}" value="{{product.name}}">
							<input type="hidden" name="value_product{{product.id}}" value="{{product.value}}">
							<input type="number" name="cant_product{{product.id}}" min="0" max="100" step="1" value="0" required>
						</span>


					</article>
					{% endfor %}
					<div class="btn-send-request">
						<input type="hidden" name="num_products" value="{{cant_products}}">
						<button class="button primary" form="myform">Comprar</button>
					</div>

				</form>

			</section>




		</div>


	</div>


</div>




{% endblock %}