{% extends "base.html" %}

{% block body_content %}

{% load static %}
<div id="wrapper">


	<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Detalle de Compra</h1>
			<p><b>ID : </b> {{order_data.id}}</p>
			<p><b>Fecha de creación : </b> {{order_data.created_date}}</p>
			<p><b>Estado : </b>{{order_data.status}}</p>
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Cantidad</th>
							<th>Nombre</th>
							<th>Precio unitario</th>
						</tr>
					</thead>
					<tbody>
						{% for data in data_list %}
						<tr>
							<td>{{data.quantity}}</td>
							<td>{{data.name}}</td>
							<td>{{data.value}}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="btn-make-pay">
		<img src="{% static 'images/tpaga_wallet_logo.png' %}" alt="{{data.name}}" style="width: 15%;">
		<h3><a href="{{order_data.payment_link}}">Link de pago</a></h3>
	</div>

{% endblock %}