{% extends "base.html" %}

{% load static %}

{% block body_content %}

{% if data_list %}
<header>
    <h1>Descripción del Pago</h1>
    <p><b>ID : </b> {{order_data.order_token}}</p>
    <p><b>Fecha de creación : </b> {{order_data.created_date}}</p>
    <p><b>Estado : </b>{{order_data.status}}</p>
    <p><b>Total : </b>$ {{order_data.total_amount}}</p>
</header>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Nombre</th>
                <th>Precio unitario</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            <tr>
                <td>{{data.quantity}}</td>
                <td>{{data.name}}</td>
                <td>{{data.value}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% else %}
<h1>ERROR</h1>
{% endif %}

{% if order_data.status == "paid" %}
<div class="btn-make-pay">
    <img src="{% static 'images/delivery.svg' %}" alt="{{data.name}}" style="width: 15%;">
    <h3><a href="/confirm_delivery/{{order_data.order_token}}">Confirmar Entrega</a></h3>
</div>
{% endif %}

{% endblock %}