{% extends "base.html" %}

{% block body_content %}

{% load static %}

{% if list_order %}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Status</th>
                <th>Total</th>
                <th>Fecha de creación</th>

                {% if request.user.is_staff %}
                <th>Usuario</th>
                <th>Token de seguridad</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for order in list_order %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.status}}</td>
                <td>{{order.total_amount}}</td>
                <td>{{order.date_order}}</td>
                {% if request.user.is_staff %}
                <td>{{order.user.user.username}}</td>
                <td>{{order.order_token}}</td>
                <td>
                    <form action="{% url 'list_trans' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{order.id}}" name="order_id">
                        <button type="submit" class="button primary">revertir</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container container-form">
    <div class="col-md-4 login-form">
       <h1>Aún no has realizado ordenes</h1>
        <a href="{% url 'list_products' %}">Nueva orden</a>

    </div>
</div>

{% endif %}


{% endblock %}